# --- novacorp_intranet.cfg ---
# Place this file in /usr/local/nagios/etc/objects/ and reference it
# from nagios.cfg via: cfg_file=/usr/local/nagios/etc/objects/novacorp_intranet.cfg

define host {
    use                     linux-server
    host_name               intranet-portal-host
    alias                   NovaCorp Intranet Portal Host
    address                 127.0.0.1          ; replace with K8s node IP / LB IP
    max_check_attempts      4
    check_period             24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               intranet-portal-host
    service_description     HTTP - Intranet Portal
    check_command           check_http_intranet
    max_check_attempts      4
    check_interval          1
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               intranet-portal-host
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    check_period            24x7
}

define command {
    command_name    check_http_intranet
    command_line    $USER1$/check_http -H $HOSTADDRESS$ -p 30080 -u /health -e "200" -s "UP"
}
